<div id="<%= dom_id route %>">
  <p>
    <strong>Origin:</strong>
    <%= route.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= route.destination %>
  </p>

  <p>
    <strong>Transport mode:</strong>
    <%= route.transport_mode %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= route.count %>
  </p>

</div>
